.main-img {
  position: relative;
  height: 945px;
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1510914828947-36f754990aa5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7a0fac6755d2fc8fcb4c3dd5f4255d6d&auto=format&fit=crop&w=3289&q=80");
  background-size: contain;
  background-repeat: no-repeat;
}

#get-started {
  position: absolute;
  top: 653px;
  right: 761px;
}

.jumbotron h1 {
  color: white;
  font-family: 'Bungee Inline', cursive;
  position: absolute;
  bottom: 0;
  right: 25px;
}

#search-bar {
  display: block;
  width: 95%;
  margin: -1px auto 10px;
  font-size: 25px;
}

.btn {
  border: 1px solid rgb(233, 198, 0);
  background-color: rgb(233, 198, 0);
  color: darkgreen;
  margin-left: 10px;
  font-size: 20px;
}

/*************** Ex Cards *****************/

.ex-card {
  height: 600px;
}

/*************** Location-cards ***********/

img {
  width: 300px;
  max-height: 400px;
  margin-top: 20px;
}

.location-heading {
  text-decoration: underline;
  margin-top: 20px;
}

.location-card {
  height: 600px;
}

.location-card p {
  margin: 0;
}

.single-location-card {
  text-align: center;
}

.single-location-card img {
  width: 220px;
}

#back-button h3 {
  display: inline;
}

#back-button {
  text-align: left;
  padding-left: 50px;
}